<%- include('partials/header', {title:title}) %>
<main>
  <h2>Join The Club</h2>

  <div class="form-error"><%- include('partials/form-error') %></div>

  <form class="forms" action="/club" method="post">
    <label for="club_password">Premium Member Password</label>
    <input type="password" name="club_password" id="club_password" required />
    <button class="button-primary" type="submit">Join The Club!</button>
  </form>
  <a href="/">Back</a>
</main>
<%- include('partials/footer') %>
