<%- include('partials/header', {title:title}) %>
<main>
  <% if (locals.user) { %>
  <h1>Welcome <%= user.first_name %> <%= user.last_name %></h1>
  <% } else {%>
  <h1>Welcome</h1>
  <% } %>
</main>
<%- include('partials/footer') %>
