<%- include('partials/header', {title:title}) %>
<main>
  <h2>Add New Message</h2>

  <div class="form-error"><%- include('partials/form-error') %></div>

  <form class="new-message-form" action="/newMessage" method="post">
    <label for="message"></label>
    <textarea
      name="message"
      id="message"
      cols="30"
      rows="5"
      required
      placeholder="Message..."
    ></textarea>
    <button class="button-primary" type="submit">Post Message</button>
  </form>
  <a href="/">Back</a>
</main>
<%- include('partials/footer') %>
