/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

\#root,
\#__next {
  isolation: isolate;
}
/* -------- */

footer {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(#0d0c45 20%, #000000);
  color: #ffffff;
}

.button-delete {
  background-image: linear-gradient(-180deg, #e23737 0%, #c81e1e 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: fit-content;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-delete:hover {
  background-image: linear-gradient(-180deg, #c91d1d 0%, #9c1717 100%);
}

header {
  padding: 1rem 2rem;
  background-image: linear-gradient(#000000 20%, #0d0c45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
  height: 15vh;
}

.header-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

main {
  padding: 2rem;
  min-height: calc(85vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.welcome-user-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* buttons */
.button-primary {
  background: #141268;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: fit-content;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.button-primary:hover {
  background: #afaeff;
  color: #000000;
}

.button-secondary {
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: fit-content;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.button-secondary:hover {
  background: #141268;
  color: #ffffff;
}

/* ---- */

/* burger menu */

.burger-menu {
  display: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.burger-menu:hover {
  background: #141268;
}

/* --- */

.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.message-card {
  border-radius: 20px;
  background: #f5f5f5;
  padding: 1rem;
  border: 2px solid #c3c6ce;
}

.message-card > * {
  margin: 0.6rem 0;
}

.message-card:hover {
  border-color: #0d0c45;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

i {
  font-size: smaller;
}

/* welcome page */

.landing > * {
  margin: 2rem 0;
}

.landing {
  padding: 2rem;
  font-weight: 500;
}

.welcome-page {
  margin: -2rem -2rem 0 -2rem;
  padding: 3rem;
  min-height: 85vh;
  text-align: center;
  background: #0d0c45;
  background: linear-gradient(
    180deg,
    rgba(13, 12, 69, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.welcome-title {
  font-size: 70px;
}

.welcome-buttons {
  display: flex;
  justify-content: center;
}

/* ---- */

/* forms */

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.8rem;
  width: 100%;
  max-width: 400px;
  border: 2px solid #c3c6ce;
  border-radius: 20px;
  background: #f5f5f5;
  padding: 1rem;
}

input,
textarea {
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #a5a9ac;
}

.error-text {
  color: red;
}

.new-message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.8rem;
  width: 100%;
  max-width: 600px;
  border: 2px solid #0d0c45;
  border-radius: 20px;
  background: #f5f5f5;
  padding: 1rem;
}

textarea {
  resize: none;
}

/* --- */

/* mobile */

@media (max-width: 1000px) {
  .burger-menu {
    display: flex;
    z-index: 1100;
  }
  .header-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-image: linear-gradient(#000000 20%, #0d0c45);
    padding: 5rem 2rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s;
    z-index: 1000;
  }
  .header-links.open {
    right: 0;
  }

  .messages {
    min-width: 0;
    max-width: 100%;
  }

  .welcome-page {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }

  .welcome-title {
    font-size: 60px;
  }

  .welcome-user-title {
    flex-direction: column;
  }
}
